
<link rel="stylesheet" href="/css/modulos/Ventas.css" />
<div class="container">
<div class="card">
<div class="title">Pedidos</div>
<table class="table">
<tr><th>PedidoID</th><th>ClienteID</th><th>Estado</th></tr>
<tr><td>500</td><td>101</td><td>Pendiente</td></tr>
</table>
</div>
</div>
