
<link rel="stylesheet" href="/css/modulos/Ventas.css" />
<div class="container">
<div class="card">
<div class="title">Detalle Factura</div>
<p><b>FacturaID:</b> 1</p>
<p><b>ClienteID:</b> 101</p>
<p><b>Total:</b> 250 Bs</p>
</div>
</div>
