
<link rel="stylesheet" href="/css/modulos/Ventas.css" />
<div class="container">
<div class="card">
<div class="title">Clientes</div>
<table class="table">
<tr><th>ClienteID</th><th>PersonaID</th><th>TipoCliente</th></tr>
<tr><td>101</td><td>1</td><td>Minorista</td></tr>
</table>
</div>
</div>
